.prueba {
    border: 1px solid red;
}

/* variables */
:root {
    /* bordes */
    --borde: 1px solid lightgray;
    --borde-radius: 5px;
    /* padding */
    --padding: 1rem 1rem;
    --padding-inputs: 0.4em 0.5em;
}

/* generales */
fieldset {
    /* posicionamiento */
    display: flex;
    flex-flow: column nowrap;
    /* estilo */
    border: none;
}

.destacar {
    font-weight: bold;
}

.row {
    margin: 0;
}

.row *:first-child {
    padding-left: 0;
}

.row *:last-child {
    padding-right: 0;
}

.nota {
    color: grey;
}

/* main */
.main {
    /* posicionamiento */
    padding: 2em 4em;
}

/* formulario */
.formulario {
    /* borde */
    border: var(--borde);
    border-radius: var(--borde-radius);
}

.formulario-titulo {
    /* posicionamiento */
    margin: 0;
    padding: var(--padding);
    /* borde */
    border: var(--borde);
    border-radius: var(--borde-radius);
    /* texto */
    font-weight: bold;
    font-size: 2rem;
}

.formulario-contenido {
    padding: var(--padding);
}

/* inputs */
.amount-container {
    /* posicionamiento */
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

.amount-input{
    /* tamano */
    flex-basis: 100%;
    flex-grow: 1;
}

.simbolo {
    /* tamano */
    flex-basis: 1rem;
    flex-grow: 0;
}

input {
    padding: var(--padding-inputs);
}


/* submit */
.submit-container {
    /* posicionamiento */
    display: flex;
    justify-content: flex-end;
    gap: 0.5em;
    padding: var(--padding);
    border: var(--borde);
    border-radius: var(--borde-radius);
}

/* card */
.card-container {
    /* posicionamiento */
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
    padding: 0.3em 1em;
    border: var(--borde);
    border-radius: var(--borde-radius);
    
    /* tamano */
    width: auto;

    background-color: #6C757D;
}

.card-grupo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3em;
}

.card-container label {
    margin-bottom: 0;
}

#message {
    resize: none;
}

.form-check-input {
    margin: 0;
}

/* querys */
@media (max-width: 576px) {
    .row fieldset+fieldset {
        padding: 0;
    }
    .row>fieldset:first-child {
        padding: 0;
    }
}